@fluidframework:registry=https://pkgs.dev.azure.com/fluidframework/internal/_packaging/build/npm/registry/ 
always-auth=true

@fluid-experimental:registry=https://pkgs.dev.azure.com/fluidframework/internal/_packaging/build/npm/registry/ 
always-auth=true

@fluid-dev:registry=https://pkgs.dev.azure.com/FluidDeveloperProgram/af93f492-1e56-4fc8-b7c0-9bea4d604c75/_packaging/fluid-dev/npm/registry/                    
@fluid-dev:always-auth=true